<mat-card>
    <mat-card-content><h1>Employee List</h1></mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button  (click)="create()">Create</button>
    </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input
      matInput
      (keyup)="Search(false)"
      placeholder="Search Columns"
      [(ngModel)]="search"
    />
  </mat-form-field>
  </mat-card-content>
</mat-card>
<div class="table-container">

         <mat-table  [dataSource]="datasource"
          >
            <!-- Emp Name Column -->
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef  >Name</th>
              <td mat-cell *matCellDef="let row">
                {{row.Name}}
              </td>
            </ng-container>
            <!-- Emp No. Column -->
            <ng-container matColumnDef="EmployeeNo">
              <th mat-header-cell *matHeaderCellDef  >Employee No</th>
              <td mat-cell *matCellDef="let row">
                {{ row.EmployeeNo }}
              </td>
            </ng-container>
            <!-- Phone No. Column -->
            <ng-container matColumnDef="ContactNo">
              <th mat-header-cell *matHeaderCellDef  >Phone No.</th>
              <td mat-cell *matCellDef="let row">
                {{row.ContactNo}}
              </td>
            </ng-container>
            <!-- Email Column -->
            <ng-container matColumnDef="EmailId">
              <th mat-header-cell *matHeaderCellDef  >Email</th>
              <td mat-cell *matCellDef="let row">
                {{row.EmailId}}
              </td>
            </ng-container>

            <ng-container matColumnDef="Address">
              <th mat-header-cell *matHeaderCellDef  >Address</th>
              <td mat-cell *matCellDef="let row">
                {{ row.Address }}
              </td>
            </ng-container>
          
            <ng-container    matColumnDef="Action" >
              <th mat-header-cell *matHeaderCellDef   >Action</th>
              <td mat-cell *matCellDef="let row">
              <button *ngIf="row.Name==username " mat-raised-button (click)="edit( row)"><mat-icon>edit</mat-icon></button>
              &nbsp;&nbsp;
              <button  *ngIf=" role=='admin'" mat-raised-button (click)="ondelete(row.id)"><mat-icon>delete</mat-icon></button>
              </td>
            </ng-container>
          
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
              
            
  
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5,10]" ></mat-paginator>
         
  
</div>
