

<mat-toolbar>
  <span>Project</span>
  <button    mat-icon-button (click)="sidenav.toggle()"  > <mat-icon  >menu</mat-icon></button>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav   #sidenav mode="side"  opened="true"  >

      
 
    <button mat-button  [routerLink]="['/dashboard/List']" ><mat-icon>perm_identity</mat-icon>User_Info</button> 
    <mat-divider></mat-divider>
    <!-- <button mat-button  [routerLink]="['/dashboard/Employe']" ><mat-icon>perm_identity</mat-icon>Employee</button> -->
    <button mat-button  [routerLink]="['/dashboard/NewEmploye']" ><mat-icon>perm_identity</mat-icon>  Employee</button> 
  </mat-sidenav>
  <mat-sidenav-content>
    
    <div class="content mat-elevation-z8">
       
        <router-outlet> </router-outlet> 
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>