<mat-card>
    <div><mat-toolbar>Register</mat-toolbar></div>
 <mat-divider></mat-divider>
<mat-card-content>


    <form [formGroup]="RegisterForm">
        <mat-form-field >
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="UserName" />
          <mat-icon  matSuffix >supervised_user_circle</mat-icon>
        </mat-form-field><mat-divider [vertical]="true"></mat-divider>
        <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="Email" />
            
          </mat-form-field>
        <mat-form-field >
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="show ? 'text' : 'password'"
            placeholder="Password"
            formControlName="Password"
          /> 
          <mat-icon matSuffix (click)="showpassword()">remove_red_eye</mat-icon>
        </mat-form-field>
        <mat-form-field >
            <mat-label> ConfirmPassword</mat-label>
            <input
              matInput
              [type]="show ? 'text' : 'password'"
              placeholder="Password"
              formControlName="ConfirmPassword"
            /> 
            <mat-icon matSuffix (click)="showpassword()">remove_red_eye</mat-icon>
          </mat-form-field>
      
        <mat-divider></mat-divider>
        
        <button mat-raised-button type="submit" (click)="Register()">Register</button>
        <button mat-raised-button routerLink="/login">login</button>
    </form>
</mat-card-content>

</mat-card>
